:root {
  /* Colours */
  --color-text: hsl(0, 0%, 100%);
  --color-primary: #2e0011;
  --color-secondary: #190508;
  --color-dark: #280e18;
  --color-bg: #3f0422;

  /* Fonts */
  --font-roboto: "Roboto";
}
